body{
    font-size: 20px;
}
#myDiv{
    border: 1px solid black;
    color: red;
    background-color: cyan;
    text-align:center;
    margin-top: 5%;
    margin-right: 30%;
    margin-bottom: 5%;
}
#myDiv2{
    border: 1px solid black;
    color: orange;
    background-color: lightskyblue;
    text-align:center;
    margin-right: 30%;
    margin-bottom: 5%;
}