body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 40px; 
    text-align: center;
}
.btn{
    margin-left: 40%;
}
.btn button{
    margin: 1%;
}
.color{
    margin-top: 3%;
    margin-left: 40%;
}
.backgroundColorChanger{
    margin-top: 3%;
    margin-left: 40%;
}
body{
    background: linear-gradient(to right, red, yellow);
}
#shopingHeading{
    text-align: center;
}
#shopingList{
    text-align: center;
    text-decoration: none;
    display: inline;
}
#addTextDiv{
    text-align: center;
}
#btnAdd{
    padding: 8px;
    margin: 2%;
}

/********************************* gallery ************************************/
.gallery{
    margin-top: 2%;
}
.carouselContainer{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid black;
}
.carouselSlider{
    display: flex;
}

.carouselSlider img{
    width: 100%;
    height: 500px;
}

.carouselButton{
    text-align: center;
}
.carouselButton button{
    padding: 8px;
    margin: 1%;
}